[submodule "hk-event-collector"]
	path = hk-event-collector
	url = git@github.com:nikelam312/hk-event-collector.git
	branch = main
[submodule "inventory-migration"]
	path = inventory-migration
	url = git@github.com:nikelam312/inventory-migration.git
	branch = main
[submodule "jetso-monitor"]
	path = jetso-monitor
	url = git@github.com:nikelam312/jetso-monitor.git
	branch = dev
[submodule "maphk-restaurants"]
	path = maphk-restaurants
	url = git@github.com:nikelam312/maphk-restaurants.git
	branch = main
[submodule "apple-watcher"]
	path = apple-watcher
	url = git@github.com:nikelam312/apple-watcher.git
[submodule "trip-com-pipeline"]
	path = trip-com-pipeline
	url = git@github.com:nikelam312/trip-com-pipeline.git
